hotareadetector-assembly/target/
hotareadetector-core/target/
hotareadetector-main/target/
hotareadetector-svn/target/
RemoteSystemsTempFiles/
.metadata
.recommenders
hotareadetector-assembly/.classpath
hotareadetector-assembly/.project
hotareadetector-assembly/.settings/
